<h2>Statistikk per {{month}}</h2>
<dl id="stats">
  <dt>Antall ansatte</dt>
  <dd>{{numberOfEmployees}}</dd>
  <dt>Kvinneandel</dt>
  <dd>{{ratio}} %</dd>
  <dt>Antall ansatte inkludert de som har sluttet</dt>
  <dd>{{alumni}}</dd>
</dl>
